<!-- PaginaInicio.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <img src="{% static 'images/logo.png' %}" alt="Logo">
    <a href="{% url 'pagina_acerca_de' %}">Acerca de</a>
    <a href="{% url 'pagina_contacto' %}">Contacto</a>
    <a href="{% url 'pagina_formulario' %}">Formulario</a>
    <a href="{% url 'pagina_insumos' %}">Insumos</a>
    <a href="{% url 'pagina_maceteros' %}">Maceteros</a>
    <a href="{% url 'pagina_productos' %}">Productos</a>
    <div id="part_principal">
        <div id="pestana1" class="pestana" style="display: none;">
          <button class="botonCerrar" onclick="ocultarPestana()">X</button>
          <H3>Descripción</H3>
            <ul>
              <li>Nombre Común: Higuera de Hoja de Violín</li>
              <li>Nombre Científico: Ficus Lyrata</li>
              <li>Ubicación: Ideal para interiores; puede colocarse al aire libre en climas sin heladas</li>
              <li>Época de Plantación: En interiores, en cualquier época; en exteriores, en primavera o verano</li>
              <li>Género: Ficus</li>
              <li>Familia: Moraceae</li>
              <li>Origen: África tropical</li>
              <li>Crecimiento: Mediano a rápido bajo condiciones ideales</li>
              <li>Riego: Moderado, permitir que la tierra se seque entre riegos</li>
              <li>Luz: Prefiere luz indirecta brillante; evita la luz solar directa</li>
              <li>Temperatura Ideal: Entre 16°C y 24°C (60°F a 75°F)</li>
              <li>Humedad: Prefiere humedad moderada; puede beneficiarse de nebulización ocasional</li>
              <li>Fertilización: Fertilizar cada mes durante la primavera y el verano con un fertilizante balanceado</li>
              <li>Reproducción: Por esquejes de hojas o tallos durante la primavera</li>
              <li>Poda: Poda las hojas dañadas o envejecidas para mantener la forma y promover un crecimiento saludable</li>
              <li>Toxicidad: Tóxica para mascotas y humanos si se ingieren partes de la planta</li>
            </ul>
        </div>
        <div id="pestana2" class="pestana" style="display: none;">
          <button class="botonCerrar" onclick="ocultarPestana()">X</button>
          <H3>Descripción</H3>
          <ul>
            <li>Nombre Común: Monstera Deliciosa</li>
            <li>Nombre Científico: Monstera Deliciosa</li>
            <li>Ubicación: Interior principalmente, puede estar en exterior en climas cálidos y húmedos</li>
            <li>Época de Plantación: Primavera es ideal para plantar, aunque en interiores se puede iniciar en cualquier época</li>
            <li>Género: Monstera</li>
            <li>Familia: Araceae</li>
            <li>Origen: Selvas tropicales de México hasta Panamá</li>
            <li>Crecimiento: Rápido bajo condiciones ideales</li>
            <li>Riego: Cada 1-2 semanas, permitiendo que la tierra se seque entre riegos</li>
            <li>Luz: Prefiere luz indirecta brillante, pero puede tolerar niveles bajos de luz</li>
            <li>Temperatura Ideal: Entre 18°C y 27°C (64°F a 80°F)</li>
            <li>Humedad: Prefiere alta humedad, considera usar un humidificador o colocar un plato con agua cerca</li>
            <li>Fertilización: Fertilizante balanceado una vez al mes durante la primavera y verano</li>
            <li>Reproducción: Por esquejes de tallo o de hoja en primavera o verano</li>
            <li>Poda: Poda de hojas viejas o dañadas para estimular nuevo crecimiento y mantener la planta manejable</li>
            <li>Toxicidad: Tóxica para mascotas y humanos si se ingieren partes de la planta debido a oxalato de calcio</li>

        </ul>
        </div>
        <div id="pestana3" class="pestana" style="display: none;">
          <button class="botonCerrar" onclick="ocultarPestana()">X</button>
          <H3>Descripción</H3>
          <ul>
            <li>Nombre Común: Espada de San Jorge, Lengua de Suegra</li>
            <li>Nombre Científico: Sansevieria trifasciata</li>
            <li>Ubicación: Interior o exterior en sombra parcial</li>
            <li>Época de Plantación: Cualquier época del año</li>
            <li>Género: Sansevieria</li>
            <li>Familia: Asparagaceae</li>
            <li>Origen: África Occidental y Tropical</li>
            <li>Crecimiento: Lento</li>
            <li>Riego: Bajo; permitir que la tierra se seque completamente entre riegos</li>
            <li>Luz: Tolerante a luz baja; ideal luz indirecta media</li>
            <li>Temperatura Ideal: Entre 18°C y 27°C (65°F a 80°F)</li>
            <li>Humedad: Baja; no requiere mucha humedad</li>
            <li>Fertilización: Fertilizar ligeramente durante la primavera y el verano</li>
            <li>Reproducción: Por división de la planta o esquejes de hojas</li>
            <li>Poda: No requiere poda regular, solo remover hojas muertas o dañadas</li>
            <li>Toxicidad: Ligeramente tóxica si se ingiere</li>
        </ul>
        </div>
        <!-- Fin de pestañas des descripción -->

        <section id="part_derecha">
          <div class="Contenedor_descripcion"> <!-- Este contenedor ahora no tiene la descripción -->
            <div id="Descripcion_defecto" style="display: block;">
              <div class="grid-container">
              
                <div id="planta_comprar" class="card" style="width: 18rem;">
                    <img src="../IMG/Bela.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Plantas</h5>
                    <p class="card-text"> </p>
                    <a href="../HTML/PaginaProductos.html" class="btn btn-warning">Comprar</a>
                    </div>
                </div>
                  <div class="card" style="width: 18rem;">
                  <img src="../IMG/NordicoNegro.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Maceteros</h5>
                    <p class="card-text"> </p>
                    <a href="../HTML/PaginaMaceteros.html" class="btn btn-warning">Comprar</a>
                    </div>
                    <div class="card" style="width: 18rem;">
                      <img src="../IMG/AbonoBokashi.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Insumos</h5>
                        <p class="card-text"> </p>
                        <a href="../HTML/PaginaInsumos.html" class="btn btn-warning">Comprar</a>
                        </div>

              </div>

            </div>
            </div>
          </div>
        </section>
    
        
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#" onclick="">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" >Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" >Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>           
            </ul>
          </div>
        </nav>
    
    
        <!-- Parte del medio -->
        <section id="part_medio">
    
          <!-- contenido 1 -->
          <div id="contenido1" style="display: block;">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <h1 class="Titulo_planta">Higuera de Hoja de Violín</h1>
                  
                  <img class="d-block w-100" src="../IMG/imagenn2.jpg" alt="First slide" >
                  <button class="btn btn-success btn-descripcion" onclick="mostrarDescri('pestana1')">Descripción</button>
                </div>
                <div class="carousel-item">
                  <h1 class="Titulo_planta">Monstera Deliciosa</h1>
                  <img class="d-block w-100" src="../IMG/imagenn1.jpg" alt="Second slide">
                  <button class="btn btn-success btn-descripcion" onclick="mostrarDescri('pestana2')">Descripción</button>
                </div>
                <div class="carousel-item">
                  <h1 class="Titulo_planta">Lengua de Suegra</h1>
                  <img class="d-block w-100" src="../IMG/imagenn3.jpg" alt="Third slide" onclick="">
                  <button class="btn btn-success btn-descripcion" onclick="mostrarDescri('pestana3')">Descripción</button>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <!--fin contenido 1 -->
        
          
    
    
        <section id="part_izquierda">
          <!--  -->
            <div id="carouselizq" class="carousel slide" data-ride="carousel" data-interval="10000">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div id="dato1" class="dato">
                    <h4 class="dato_titulo">Datos de plantas:
                      "Monstera" por una Razón</h4>
                    <p>Su nombre viene del latín para "monstruoso" 
                      o "anormal", debido a las perforaciones naturales
                       en sus hojas que son inusuales en el mundo de las
                      plantas.</p>
                    </div>
                </div>
                <div class="carousel-item">
                  <div id="dato2" class="dato">
                    <h4 class="dato_titulo">Consejo: Entiende las necesidades de Luz</h4>
                    <p>"Cada planta tiene requerimientos específicos de luz. 
                  Algunas plantas prefieren la luz solar directa, mientras 
                  que otras prosperan en sombra parcial o luz indirecta. 
                  Asegúrate de investigar las necesidades de luz de cada planta y
                  ubicarlas en tu hogar de acuerdo a estas necesidades para asegurar un crecimiento saludable."</p>
                    </div>
                  
                </div>
                <div class="carousel-item">
                  <div id="dato3" class="dato">
                    <h4 class="dato_titulo">Consejo: Adaptación</h4>
                    <p>"Las plantas necesitan tiempo para adaptarse a su nuevo entorno, 
                      especialmente después de cambiarlas de lugar. Si notas que una planta no prospera,
                      considera moverla a otra ubicación antes de intentar otros remedios."</p>
                    </div>
                  
                </div>
                  
                  
                </div>
              </div>
             <button class="carousel-control-prev" type="button" data-target="#carouselizq" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-target="#carouselizq" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </button>
            </div>
        
    
        </section>
        </div>
    
        <footer>
        <h1>PlantitaYika</h1>
        </footer>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
